* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    display: grid;
    font-family: Helvetica;
    width: 100%;
    background-image: url(/imgs/Water.jpg);
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto auto auto auto auto;
    grid-template-areas:
    "header"
    "msg"
    "board"
    "button"
    "ship-text"
    "ship-board";
}

header {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(228, 148, 0);
    grid-area: header;
    width: 100%;
    text-align: center;
}

header h1 {
    justify-self: center;
    align-self: center;
}

#msg {
    grid-area: msg;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    color: orange;
}

#ship-text {
    grid-area: ship-text;
    text-align: center;
    font-size: 15px;
    color: orange;
}

.grid-container {
    grid-area: board;
    background-color: rgb(228, 148, 0);
}

.computer-container {
    display: none;
    grid-area: computer-board;
    background-color: rgb(228, 148, 0);
}

table.table-board {
    margin: 50px auto 0px auto;
    margin-top: 0px;
    border-collapse: collapse; 
    height: 2fr;
    width: 2fr;
    text-align: center;
}

td.table-board {
    width: 25px; 
    height: 25px;
    border: 2px solid #333;
}

tr.table-board:nth-child(odd) td.grid-board:nth-child(even),
tr.table-board:nth-child(even) td.grid-board:nth-child(odd) {
    background-color: orange;
} 

tr.table-board:nth-child(odd) td.computer-board:nth-child(even),
tr.table-board:nth-child(even) td.computer-board:nth-child(odd) {
    background-color: orange;
} 

.ship-container {
    grid-area: ship-board;
    border-collapse: separate;
    border-spacing: 2px 5px; 
    border: hidden;
}

.ship-board {
    background-color: white;
}

table.player-board {
    display: block;
    margin: 5px auto 0px;
    border-collapse: collapse; 
    text-align: center;
}

td.player-board {
    width: 25px;
    height: 25px;
    border: 2px solid black;
}


.player-ship-board {
    background-color: rgb(228, 148, 0);
}

.s-button {
    display: flex;
    grid-area: button;
    flex-direction: column;
    justify-self: center;
    margin: 10px 10px;
}

.s-button > button {
    display: block;
    background-color: rgb(231, 150, 0);
    font-weight: bold;
    padding: 5px;
}

.s-button > button:hover {
    background-color: gray;
}

.r-button {
    display: flex;
    grid-area: button;
    flex-direction: column;
    justify-self: center;
    margin: 10px 10px;
}

.r-button > button {
    display: none;
    background-color: rgb(231, 150, 0);
    font-weight: bold;
    padding: 5px;
}

.r-button > button:hover {
    background-color: gray;
}

@media only screen and (min-width: 620px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px auto auto auto;
        grid-template-areas:
        "header header"
        "msg ship-text"
        "board computer-board"
        "button button";
    }
    td.table-board {
        width: 28px; 
        height: 28px;
    }

    .computer-container {
        display: block;
    }

    #ship-text {
        font-size: 20px;
        padding: 5px;
    }

    table.player-board {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    td.table-board {
        width: 35px; 
        height: 35px;
    }
}